<nav class="navbar navbar-dark bg-primary">
<a class="navbar-brand" href="http://localhost:3006/brand">GA Airlines</a>

  <a class="nav-link " href="http://localhost:3006">Home</a>
  <a class="nav-link " href="http://localhost:3005/airplanes/new">Airplanes</a>
  <a class="nav-link " href="http://localhost:3006/flights">Flights</a>
  <a class="nav-link " href="http://localhost:3006/search">Search</a>

</nav>

<div class="container">
  <%= render 'form', airplane: @airplane %>

</div>
