<nav>
  <a href="./test2222">test</a>
  <a href="./test2222">test</a>
  <a href="./test2222">test</a>
  <a href="./test2222">test</a>
</nav>

<div class="container">
  <%= render 'form', airplane: @airplane %>

</div>
