<nav>
  <a href="http://localhost:3006">Home</a>
  <a href="http://localhost:3005/airplanes/new">Airplanes</a>
  <a href="http://localhost:3006/flights">Flights</a>
  <a href="http://localhost:3006/search">Search</a>
</nav>

<div class="container">
  <%= render 'form', airplane: @airplane %>

</div>
