// Place all the styles related to the airplanes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	padding: 0;
	margin: 0;
}
// nav {
// 	width: 100%;
// 	height: 58px;
// 	background-color: rgb(0, 123, 255);
// 	display: flex;
// 	align-items: center;
// }

// nav a {
// 	height: 10px;
// 	padding: 20px;
// 	color: white;
// 	border: 1px solid white;
// }

nav {
	display: flex;
	justify-content: center;

	padding: 10px 0;
}

nav a {
	padding: 10px;
	margin: 0 10px;
	border: 1px black solid;
	color: rgba(255, 255, 255, 0.5);
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 600px;
	border: 1px solid black;
	margin: 0 auto;
}

// New Airplanes
.mainHeader {
	height: 40px;
	display: flex;
	align-items: center;
	margin: 30px 0;
}

.mainHeader button {
	padding: 5px 20px;
	background-color: rgb(0, 123, 255);
	border-radius: 5px;
	border: 1px black solid;
	margin: 0 10px;
	margin-left: 50px;
	cursor: pointer;
}

.middleSection {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 20px;
}

.spacer {
	width: 100px;
}

.top {
	display: flex;
}

.bottom {
	display: flex;
	justify-content: flex-end;
}

.bottom * {
	padding: 5px 20px;
	background-color: rgb(0, 123, 255);
	border-radius: 5px;
	border: 1px black solid;
	margin: 0 10px;
	color: white;
	cursor: pointer;
	text-decoration: none;
}

input {
	border-radius: 5px;
	padding: 5px;
}

.navbar {
	justify-content: flex-start !important;
}

.navbar a:hover {
	color: rgba(255, 255, 255, .75);
}
